.header {
    grid-area: header;
    background-color: darkslategray;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

/*картинка вложе и подтянет этот стиль*/
.header img {
    width: 320px;
}