.menu {
    grid-area: menu;
    background-color: darkslategray;
    padding: 40px;
    border-bottom-left-radius: 40px;
}

.noActive {
    color: white;
    text-decoration: none;
}

.activeLink {
    color: white;
    text-decoration: none;
    background-color: darkcyan;
    border-radius: 5px;
}

.friends {
  color: mediumorchid;
}

.people {
    color: white;
}